.game{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.board {

    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    align-self: center;
    margin: 20px;
}

.dice{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.cell {
    display: flex;
    flex: 1 0 6.3%;
    border: 0.5px solid gainsboro;
    margin: 0;
    height: auto;
    padding-bottom:  1.67%;
  }


.green {
    background-color: #b6f0b9;
    color: #b6f0b9;
}
.red {
    background-color: #df9190;
    color: #df9190;
}
.yellow {
    background-color: #fff176;
    color: #fff176;
}
.blue {
    background-color: #6ec4ec;
    color: #6ec4ec;
}
.black {
    background-color: black;
    color: black;
}
.white {
    background-color: white;
    color: white;
}

.dicebox{
    display: inline-block;
}

.greenpiece {
    color: #66bb6a;
    font-size: 1.5rem;
}
.redpiece {
    color: #e53935;
    font-size: 1.5rem;
}
.yellowpiece {
    color: #e7d213;
    font-size: 1.5rem;
}
.bluepiece {
    color: #29b6f6;
    font-size: 1.5rem;
}