.game {

    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}

.cell {
    display: block;
    flex: 1 0 6.3%;
    border: 0.5px solid gray;
    margin: 0;
    padding-top: 6.67%;
    /* height: auto; */
  }

.cell:before {
	content: '';
	padding-top: 100%;
}