<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ludo</title>
        <link href="../css/style2.css" rel = "stylesheet">
        <link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
        <script
                defer
                src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
                integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
                crossorigin="anonymous"
        ></script>
    </head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Ludo</span>
        <span class="navbar-brand mb-0 h5">By Wingies</span>
    </nav>

    {{{body}}}

</body>
</html>