<div class="game">

    <div class="board" id="board"></div>
    <div class="dice" id="dice"></div>

</div>

<!-- View layer -->
<script src = "./lib/js/view.js"></script>

<!-- Logic layer -->
<script src = "./lib/js/logic.js" ></script>